@import "styles";
.site-title::before {
	content: url("/assets/images/capybasicslogo.png");
	display: inline-block;
	position: relative;
	width: 37px;
	top: 5px;
    color: aqua;
}

.floating-video {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 300px;
	height: 169px; // 16:9 aspect ratio
	z-index: 1000;
	box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  }
  
  .floating-video.hidden {
	display: none;
  }
  
  .video-toggle {
	position: absolute;
	top: -25px;
	right: 0;
	cursor: pointer;
	padding: 2px 5px;
	background: #fff;
	border: 1px solid #ddd;
  }