---
layout: default
---

<style>
body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    margin: 0 20px;
}
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
    color: #333;
}
blockquote {
    font-style: italic;
    color: #555;
    border-left: 3px solid #ddd;
    margin-left: 0;
    padding-left: 15px;
}
pre {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
}
</style>


<article>
  <header>
    <h1>{{ page.title }}</h1>
    <p><em>{{ page.date | date: "%B %d, %Y" }}</em></p>
    <p>Author: {{ page.author }}</p><a href="https://www.linkedin.com/in/andre-silva-gusmao/" target="_blank">
        <img src="../assets/images/MyFaceTransparent.png" alt="{{ page.author }}" style="width: 50px; height: 50px; vertical-align: middle;">
      </a>
  </header>
  <div>
    {{ content }}
  </div>
  <footer>
    <div>
    <a href="https://www.linkedin.com/in/andre-silva-gusmao/" target="_blank">
        <img src="../assets/images/MyFaceTransparent.png" alt="{{ page.author }}" style="width: 50px; height: 50px; vertical-align: middle;">
      </a>
      <a href="https://www.linkedin.com/in/andre-silva-gusmao/" target="_blank">
        <img src="../assets/images/MyFaceTransparent.png" alt="{{ page.author }}" style="width: 50px; height: 50px; vertical-align: middle;">
      </a>
    </div>
    <p><em>{{ page.description }}</em></p>
    <a href="https://www.linkedin.com/in/andre-silva-gusmao/" target="_blank">
        <img src="../assets/images/MyFaceTransparent.png" alt="{{ page.author }}" style="width: 50px; height: 50px; vertical-align: middle;">
      </a>
  </footer>
</article>
